body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

.wrapper {
    width: 100%;
    height: 100vh;
    padding-bottom: 20px;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
}

.main-header {
    width: 100%;
    background: #fff;
    padding: 10px 0;
}

.main-header__block {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-header__block nav {
    width: 200px;
}

.noteCard--buttons {
    width: 50px;
}

.main-header__block nav,
.noteCard--buttons {
    display: flex;
    justify-content: space-between;
}

.main-header__block nav a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

.notes__block {
    display: flex;
    width: 90%;
    margin: 40px auto;
}

.notes__block .noteCard {
    background: #fff;
    margin: 10px;
    padding: 15px;
}

.noteCard--head {
    display: flex;
    justify-content: space-between;
}

.noteCard--head i {
    cursor: pointer;
}

.notes__block .noteCard:first-child {
    margin-left: 0;
}

.notes__block .noteCard p {
    font-size: 15px;
    line-height: 1.4em;
}

.icons {
    padding-right: 7px;
    font-size: 13px;
}

.sidebar {
    width: 400px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: -400px;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}

.show {
    left: 0;
}

.sidebar form {
    overflow: hidden;
}

.form--contain {
    width: 300px;
    margin: 0 auto;
}

.sidebar form {
    display: flex;
    flex-direction: column;
}

.form--header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form--header .icons {
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
}

.sidebar form input,
textarea {
    display: block;
    width: 100%;
}

.form-group {
    margin-top: 20px;
}

.form-group input,
.form-group textarea {
    margin-top: 10px;
    padding: 7px 15px;
    border: 2px solid #f3f3f3;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.form-group textarea {
    height: 150px;
}

button {
    padding: 10px 15px;
    width: 100%;
    border: 0;
    background: #000;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}